@import "../../../StyleGlobal/Style.scss";

@mixin onlylarge($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

.content {
  text-align: center;
}

.allPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    @include title();
    @include onlylarge(600px) {
      font-size: 35px;
    }
  }
  .startLink {
    text-decoration: none;
    margin-top: 25px;
    font-size: 35px;
    font-weight: bold;
    color: $blue;
  }
}
