// TODO: @import - устаревший метод, надо юзать @use. Загугли и почитай
@import "../../StyleGlobal/Style.scss";

// TODO: вынести миксин в отдельный файл, где у нас будет собраны все глобальные миксины, все переменные и остальное
@mixin onlylarge($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

.buttonLoc {
  display: flex;
  justify-content: center;
  .button {
    border: none;
    height: 50px;
    background-color: $blackcolor;
    color: $white;
    border-radius: 5px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    @include onlylarge(600px) {
      width: 100%;
      height: 30px;
    }
  }

  button:disabled {
    background-color: $gray;
    color: $blackcolor;
  }
}

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  @include onlylarge(1700px) {
    width: 95%;
  }
}
