.somegap{
    margin-top: 25px;
    padding-left: 50px;
}

.reload{
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nobutt{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.loads{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1024px){
  .somegap{
    padding-left: 35px;
    margin-top: 15px;
  }
}
