.addButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}


.sectionForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.form{
    width: 700px;
}


.txt{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
