.swiper-initialized .swiper-wrapper .swiper-slide  {
    border: 1px solid gray;
    border-radius: 8px;
    width: 50px !important;
    text-align: center;
    text-decoration: none;
  }

  
  .dayWeek{
    color: gray;
    margin-top: 3px;
  }

  .block-comp{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
  }

  .completed{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: greenyellow;
    
  }

  .notCompleted{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
  }
  
  
  .dayNumber{
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;
  }

  .active{
    border: 3px solid gold;
    border-radius: 8px;
    width: 50px !important;
    text-align: center;
    text-decoration: none;
  }
