.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

.list {
    display: flex;
    align-items: center;
    gap: 25px

}

.logo{
    font-weight: bold;
    font-size: 40px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.logo:hover {
    color: rgb(228, 158, 28);
    transition: 0.5s;
}

.txt{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.txt:hover {
   color: rgb(228, 158, 28);
   transition: 0.5s;
}

.nav{
    display: flex;

}

.butmenu{
    width: 100px;
    display: none;
}

.listwo{
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu{
    position: absolute;
    width: 100%;
    background-color: aqua;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    height: 60px;
}

.close{
    position: absolute;
    right: 3%;
    top: 20%;
    cursor: pointer;
}

.menu-enter {
    opacity: 0;
  }
  
  .menu-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .menu-exit {
    opacity: 1;
  }
  
  .menu-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

@media screen and (max-width:1024px){
    .header{
        padding: 35px;
    }

    .butmenu{
        display: block;
    }

    .list{
        display: none;
    }
}

@media screen and (max-width:600px){
    .header{
       padding-left: 15px;
       padding-right: 15px;
    }

    .butlog{
        margin-top: 0;
    }
}