.sectionTask{
    padding: 50px;
}

.textInfo{
    text-align: center;
}


.href{
    text-decoration: none;
    color: black;
    font-size:  35px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.href:hover{
    color: gold;
    transition: 0.5s;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.listCheck{
    display: flex;
    align-items: center;
}


.check{
    width: 25px;
    height: 25px;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
}
